.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.board{
    border-collapse: collapse;
    
    table-layout: fixed;
    cursor: pointer;
    user-select: none;
}
.board, tr,td{
    border:0.1px solid black;
}
.board td{
width:60px;
height:60px;
text-align: center;
}